<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link href="{{url_for('static', filename='media/favicon/favicon.ico')}}" rel="shortcut icon" type="image/x-icon">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/dist/rexuiplugin.min.js"></script> -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script type="module" src="{{url_for('static', filename='js/game.js')}}"></script>
    <script>
        var rexuiplugin = "{{url_for('static', filename='js/rexuiplugin.min.js')}}" //used in game.js
    </script>
</head>

<body>
    <!-- <div id="paddle-info">Connessione in corso...</div> -->
    <!-- <div id="session-info">Lobby: In attesa di giocatori...</div> -->
    <div id="phaser-content"></div>    
</body>

</html>